/* Customized Progress bar */
progress {
    width: 175px;
    height: 16px;
}
.onprogress::-webkit-progress-bar {
    background-color: #ededed;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
}
.onprogress::-webkit-progress-value {
    background-color: #01959f;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.completed::-webkit-progress-bar {
    background-color: #43936C;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
}
.completed::-webkit-progress-value {
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

/* Prevent double background */
.bg-opacity-0 {
    background: none !important;
}

/* Prevent default styling */
input, textarea {
    outline: none !important;
}